{% extends 'base.html' %}

{% block content %}

    <div>
        <h1>{{ object.prof }}</h1>
        <p>{{ object.description }} </p>
        <h2>SPECIALITIES:</h2>
        {% for item in object.spec_set.all %}
            <p> {{ item }} </p>
        {% endfor %}
        <h2>TEACHING COURSES:</h2>
        {% for item in object.coursecontent_set.all %}
            <a href="{% url 'course_detail' item.pk %}">{{ item.ID }}</a>
            <p>title : {{ item.title }} </p>
        {% endfor %}

    </div>
{% endblock content %}